.Rproj.user
.Rhistory
.RData
.Ruserdata
workspace
.idea/
.DS_Store
..Rcheck/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
terraform/aws/terraform.tfvars
terraform/azure/terraform.tfvars
terraform/gcp/terraform.tfvars
terraform/openstack/terraform.tfvars

.positai
